﻿@using TrabajoPracticoKinexo.Models
@model CategoriaModel


<div class="form-group">
    @Html.LabelFor(x => x.Nombre)
    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Descripcion)
    @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Descripcion)
</div>

<button type="submit">Terminado!</button>