﻿@using TrabajoPracticoKinexo.Models
@model IList<CategoriaModel>

<h2>Categorias</h2>

<script>$("#grid-basic").bootgrid();</script>
@Html.ActionLink("Crear", "Create")

<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Categoria</th>
        </tr>
        @foreach (var categoria in Model)
        {
        <tr>
            <td>@categoria.Id</td>
            <td>@categoria.Nombre</td>
            <td>@categoria.Descripcion</td>
            <td>@Html.ActionLink("Editar", "Edit", new { id = categoria.Id })</td>
            <td><a class="btnEliminar" data-id="@categoria.Id">Eliminar</a></td>
        </tr>
        }
    </thead>
</table>

@section scripts{
    <script>

        $(".btnEliminar").click(function(){
            var mensaje;
            var opcion = confirm("Esta seguro?");
            if (opcion == true) {

                var id = $(this).attr("data-id")
                $.post('@Url.Action("EliminarCategoria")/' + id, function (ok) {
                    alert(ok.ok)
                    location.reload();
                })
            }
        })

    </script>
}

