﻿
@using TrabajoPracticoKinexo.Models
@model NotaModel

@*
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
*@
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>


<div class="form-group">
    @Html.LabelFor(x => x.Titulo)
    @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Subtitulo)
    @Html.TextBoxFor(x => x.Subtitulo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Subtitulo)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Categoria)
    @Html.DropDownListFor(x => x.Categoria, (SelectList)ViewBag.Categoria, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Categoria)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Cuerpo)
    @Html.TextAreaFor(x => x.Cuerpo, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.Cuerpo)
</div>


<button type="submit">Terminado</button>




