﻿@using TrabajoPracticoKinexo.Models
@using Blog.Contract;
@using PagedList
@using PagedList.Mvc;
@model NotaCategoriaModel


<h2>Notas</h2>

<select id="selectCategory">
    <option value="">todo</option>
    @foreach (var categoria in Model.Categorias)
    {
        <option value="@categoria.Nombre">@categoria.Nombre</option>
    }

</select>

<script>$("#grid-basic").bootgrid();</script>

<style>
    a {
        color: black;
    }

        a:hover {
            color: black;
        }

        a:active {
            color: black;
        }
</style>
@Html.ActionLink("Crear", "Create")
<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Categoria</th>
            <th>Me gusta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Nota in Model.PaginaNotas)
        {
            <tr class="@Nota.NombreCategoria">
                <td>Id</td>
                <td>@Nota.Titulo</td>
                <td>@Nota.NombreCategoria</td>
                <td>@Nota.MeGusta</td>
                <td>@Html.ActionLink("Ver", "VerNota", new { id = Nota.Id })</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = Nota.Id })</td>
                <td><a class="btnEliminar" data-id="@Nota.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.PaginaNotas, page => Url.Action("Index", new { page, pageSize = Model.PaginaNotas.PageSize }))
Showing @Model.PaginaNotas.FirstItemOnPage to @Model.PaginaNotas.LastItemOnPage of @Model.PaginaNotas.TotalItemCount Nota

@section scripts{

    <script>
        $(function () {

            var $tabla = $('#grid-basic');

            $('#selectCategory').change(function () {
                var value = $(this).val();
                if (value) {
                    $('tbody tr.' + value, $tabla).show();
                    $('tbody tr:not(.' + value + ')', $tabla).hide();
                }
                else {
                    // Se ha seleccionado All
                    $('tbody tr', $tabla).show();
                }
            });
        });
        //$('grid-basic').ddTableFilter();
    </script>


    <script>

        $(".btnEliminar").click(function(){
            var mensaje;
            var opcion = confirm("Esta seguro?");
            if (opcion == true) {

                var id = $(this).attr("data-id")
                $.post('@Url.Action("EliminarNota")/' + id, function (ok) {
                    alert(ok.ok)
                    location.reload();
                })
            }
        })

    </script>

}








