﻿@using TrabajoPracticoKinexo.Models;
@model NotaModel

<h3>@Model.Titulo</h3>
<h4>@Model.Subtitulo</h4>


<div class="col-sm-12 col-sm-offset-0 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <p1>@Html.Raw(Model.Cuerpo)</p1>
    </div>
</div>

<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <th>Usuario</th>
            <th>Comentario</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var comentario in Model.Comentarios)
        {
            <tr id=" @comentario.Id">
                <td>@comentario.Id</td>
                <td>@comentario.NombreUsuario</td>
                <td>@comentario.Texto</td>
                <td><a class="btnEliminar" data-id="@comentario.Id">Eliminar</a></td>                
            </tr>
        }
    </thead>
</table>

@section scripts{
    <script>

        $(".btnEliminar").click(function(){
            var mensaje;
            var opcion = confirm("Esta seguro?");
            if (opcion == true) {

                var id = $(this).attr("data-id")
                $.post('@Url.Action("EliminarComentario")/' + id, function (ok) {
                    alert(ok.ok)
                    location.reload();
                })
            }
        })

    </script>

    <script>

    actualizar();

    function actualizar() {
            var url = '/Notas/DevolverMeGusta';
        $.getJSON(url, { IdNota: @Model.Id }, function (resultado) {
            $("#btnMeGusta").val(resultado.cantidad + " Me gusta");
        })
    }
    </script>
}


