﻿@model TrabajoPracticoKinexo.Models.UsuarioModel

@{
    /**/

    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumeroTelefono, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NumeroTelefono, new { @class = "form-control" })
        </div>
    </div>

    <td><a class="btnEliminar" data-id="@Model.Id">Eliminar mi cuenta</a></td>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Hidden("RedirectTo", Url.Action("Register", "Account"));

@section scripts{
    <script>

        $(".btnEliminar").click(function(){
            var mensaje;
            var opcion = confirm("Esta seguro?");
            if (opcion == true) {

                var id = $(this).attr("data-id")
                $.post('@Url.Action("Delete")/' + id, function (ok) {
                    alert(ok.ok)
                    var url = $("#RedirectTo").val();
                    location.href = url;

                }) 
            }
        })
    </script>

}
