﻿@using Blog.FrontEnd.Models;
@using Blog.Contract;
@using PagedList
@using PagedList.Mvc;
@model NotaCategoriaModel

<h2>Notas</h2>

<script>$("#grid-basic").bootgrid();</script>

<style>
    a {
        color: black;
    }

        a:hover {
            color: black;
        }

        a:active {
            color: black;
        }
</style>

<select id="selectCategory">
    <option value="">todo</option>
    @foreach (var categoria in Model.Categorias)
    {
        <option value="@categoria.Nombre">@categoria.Nombre</option>
    }

</select>

<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Nota in Model.PaginaNotas)
        {
            <tr class="@Nota.NombreCategoria">
                <td>@Nota.Titulo</td>
                <td>@Nota.NombreCategoria</td>
                <td>@Html.ActionLink("Ver", "VerNota", new { id = Nota.Id })</td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model.PaginaNotas, page => Url.Action("Index", new { page, pageSize = Model.PaginaNotas.PageSize }))
Showing @Model.PaginaNotas.FirstItemOnPage to @Model.PaginaNotas.LastItemOnPage of @Model.PaginaNotas.TotalItemCount Nota


@section scripts{

    <script>
        $(function () {

            var $tabla = $('#grid-basic');

            $('#selectCategory').change(function () {
                var value = $(this).val();
                if (value) {
                    $('tbody tr.' + value, $tabla).show();
                    $('tbody tr:not(.' + value + ')', $tabla).hide();
                }
                else {
                    // Se ha seleccionado All
                    $('tbody tr', $tabla).show();
                }
            });
        });
                    //$('grid-basic').ddTableFilter();
    </script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/Aplicacion/ddtf.js"></script>
}