﻿@using Blog.FrontEnd.Models;
@model NotaModel

<h3>@Model.Titulo</h3>
<h4>@Model.Subtitulo</h4>

<div class="col-sm-12 col-sm-offset-0 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <p1>@Html.Raw(Model.Cuerpo)</p1>
    </div>
</div>

<td>@Html.ActionLink("Comentar", "Comentar", "Comentario", new { idNota = Model.Id }, htmlAttributes: new { @class = "btn-primary" })</td>


<input type="button" value="Me gusta" id="btnMeGusta", class="affix; helper pull-right"/>

@section scripts{

<script> 

    $("#btnMeGusta").click(function () {

        $.post("/Notas/MeGusta", { IdNota:@Model.Id}, function (data) {
            alert(data.Mensaje);
        }).always(actualizar)
    });

</script>

<script>

    actualizar();

    function actualizar() {
            var url = '/Notas/DevolverMeGusta';
        $.getJSON(url, { IdNota: @Model.Id }, function (resultado) {
            $("#btnMeGusta").val(resultado.cantidad + " Me gusta");
        })
    }
</script>
}

<div class="glyphicon-comment; color">
    @foreach (var comentario in @Model.Comentarios)
    {
        <ol>

            <p1>@Html.Raw(comentario.NombreUsuario)</p1>
            <p1>@Html.Raw(comentario.Texto)</p1>
        
        </ol>
    }
</div>





