﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/blog.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style> a { color: white; } a:hover { color: white; } a:active { color: white;} </style>
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav; col-md-3">
                @* <a class="blog-nav-item active" href="#">Home</a>
        <a class="blog-nav-item" href="#">Notas</a>
                *@
                <a class="blog-nav-item" href="#">@Html.ActionLink("Inicio", "Index", "Home")</a>
                <a class="blog-nav-item" href="#">@Html.ActionLink("Notas", "Index", "Notas")</a>
                <a class="blog-nav-item" href="#">@Html.ActionLink("Perfil", "Edit", "Usuarios")</a>
                @*
        <a class="blog-nav-item" href="#">Press</a>
        <a class="blog-nav-item" href="#">New hires</a>
        <a class="blog-nav-item" href="#">About</a>
                *@
            </nav>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">Books4u</h1>
            <p class="lead blog-description">El mejor blog para informarte sobre los libros que te interesan.</p>
        </div>

        <div class="row">

            @RenderBody()
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

