﻿@using Blog.FrontEnd.Models;
@model ComentarioModel
@{
    ViewBag.Title = "Comentar";
}
@*<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.NotaId)
        @Html.LabelFor(x => x.Texto)
        @Html.TextAreaFor(x => x.Texto)
        @Html.ValidationMessageFor(x => x.Texto)
    </div>
    <button type="submit">Terminado</button>

}

